.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
  color: #212121;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.social {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover, .social-link:focus {
  background-color: #2196f3;
}

.dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover .social-icon,
.social-link:focus .social-icon {
  fill: #ffffff;
}

.light {
  fill: #ffffff;
}

.list-item:not(:last-child) {
  margin-right: 10px;
}

.button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: #212121;
  background-color: #f5f4fa;
  border-radius: 4px;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, .button:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button-primary {
  padding: 10px 0;
  min-width: 200px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  cursor: pointer;
  color: #ffffff;
  background-color: #2196f3;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover, .button-primary:focus {
  background-color: #188ce8;
}

.header {
  position: relative;
  padding: 16px 0;
  width: 100%;
  border-bottom: 1px solid #ececec;
}

.mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-header {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #212121;
}

.logo-color {
  color: #2196f3;
}

.navigation-btn {
  display: inline-flex;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navigation-btn .icon-navigation-close {
  display: none;
}

.navigation-btn.is-open .icon-navigation-close {
  display: block;
}

.navigation-btn.is-open .icon-navigation-menu {
  display: none;
}

.icon-navigation-menu,
.icon-navigation-close {
  fill: #212121;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-btn:hover .icon-navigation-menu,
.navigation-btn:focus .icon-navigation-menu, .navigation-btn:hover
.icon-navigation-close,
.navigation-btn:focus
.icon-navigation-close {
  fill: #2196f3;
}

.mobile-nav {
  display: none;
  z-index: 1;
  position: absolute;
  padding: 60px 0;
  top: 100%;
  left: 0;
  width: 100%;
  height: 393px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
}

.mobile-nav.is-open {
  display: block;
}

.site-nav-list {
  margin-bottom: 60px;
}

.site-nav-list .current {
  position: relative;
  color: #2196f3;
}

.site-nav-list .current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -12px;
  width: 100%;
  height: 4px;
  background: #2196f3;
  border-radius: 2px;
}

.site-nav-item:not(:last-child) {
  margin-bottom: 40px;
}

.site-nav-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link:hover, .site-nav-link:focus {
  color: #2196f3;
}

.site-contacts-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-contacts-item:not(:last-child) {
  margin-bottom: 16px;
}

.site-contacts-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.167;
  letter-spacing: 0.02em;
  text-decoration: none;
  fill: #757575;
  color: #757575;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.site-contacts-link:hover, .site-contacts-link:focus {
  color: #2196f3;
  fill: #2196f3;
}

.icon-contacts {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .header {
    position: relative;
    padding: 21px 0;
  }
  .navigation-btn {
    display: none;
  }
  .align-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    margin-right: 88px;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    padding: 0;
    height: auto;
    box-shadow: none;
  }
  .site-nav-list {
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-bottom: 0;
  }
  .site-nav-list .current::after {
    left: 0;
    bottom: -34px;
  }
  .site-nav-item:not(:last-child) {
    margin-bottom: 0;
  }
  .site-nav-link {
    font-size: 14px;
    line-height: 1.143;
  }
  .site-contacts-list {
    display: flex;
    flex-wrap: wrap;
    width: 150px;
  }
  .site-contacts-item:not(:last-child) {
    margin-bottom: 10px;
  }
  .site-contacts-link {
    font-size: 12px;
    line-height: 1.167;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding: 24px 0 25px 0;
  }
  .logo-header {
    margin-right: 93px;
    font-size: 26px;
    line-height: 1.192;
  }
  .site-nav-list .current::after {
    bottom: -33px;
  }
  .site-contacts-list {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 340px;
  }
  .site-contacts-item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 0;
  }
  .site-contacts-link {
    font-size: 14px;
    line-height: 1.143;
  }
}

.footer {
  padding: 60px 0;
  background-color: #2f303a;
}

.footer-block {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #ffffff;
}

.contacts-item:not(:last-child) {
  margin-bottom: 8px;
}

.address {
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

.office {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.contacts-footer {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-footer:hover, .contacts-footer:focus {
  color: #2196f3;
}

.social-footer {
  display: block;
  margin-bottom: 60px;
  text-align: center;
}

.social-footer .title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.email-input {
  text-align: center;
}

.email-input .title {
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.inside-text {
  display: block;
  width: 100%;
  padding: 15px 16px;
  margin: 0 auto 20px auto;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.inside-text::placeholder {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.inside-text:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.icon-send {
  margin-left: 10px;
  fill: #ffffff;
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .footer-tablet-position {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 76px;
    padding-right: 89px;
  }
  .footer-block {
    margin: 0;
  }
  .inside-text {
    width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .logo-footer {
    font-size: 26px;
    line-height: 1.192;
  }
  .align-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-tablet-position {
    padding: 0;
    align-items: center;
  }
  .footer-block {
    text-align: left;
    margin-right: 60px;
  }
  .address {
    text-align: left;
  }
  .email-input {
    text-align: left;
  }
  .footer-form {
    display: flex;
    align-items: center;
  }
  .inside-text {
    margin-right: 12px;
    margin-bottom: 0;
  }
  .social-footer {
    margin-bottom: 0;
    text-align: start;
  }
  .address {
    margin-bottom: 0;
  }
  .inside-text {
    width: 358px;
  }
}

.filters-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  padding-bottom: 40px;
}

.filters-list .filters-btn {
  margin-bottom: 15px;
}

.filters-list .filters-btn:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .filters-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding-bottom: 14px;
  }
}

@media screen and (min-width: 1200px) {
  .filters-list {
    padding-bottom: 34px;
  }
}

.portfolio {
  padding: 60px 0;
}

.projects-list-item {
  position: relative;
  max-width: 450px;
  overflow: hidden;
  border: 1px solid #eeeeee;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-list-item:not(:last-child) {
  margin-bottom: 30px;
}

.projects-list-item:hover, .projects-list-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-list-item:hover .text-cover,
.projects-list-item:focus .text-cover {
  transform: translateY(0);
}

.picture {
  position: relative;
  overflow: hidden;
}

.text-cover {
  display: flex;
  position: absolute;
  padding: 77px 24px;
  top: 0;
  left: 0;
  width: 100%;
  align-items: center;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  transform: translateY(100%);
  background: rgba(33, 150, 243, 0.9);
  color: #ffffff;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-text {
  padding: 20px 24px;
}

.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.projects-type {
  font-size: 16px;
  line-height: 1.87;
  color: #757575;
}

@media screen and (min-width: 768px) {
  .projects-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .projects-list-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }
  .projects-list-item:not(:last-child) {
    margin-bottom: 15px;
  }
  .text-cover {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio {
    padding: 94px 0;
  }
  .projects-list-item {
    width: calc((100% - 6 * 15px) / 3);
    margin: 15px;
  }
  .text-cover {
    padding: 63px 24px;
  }
}
/*# sourceMappingURL=portfolio.css.map */