.button {
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  border: none;
  text-align: center;
  color: $primary-text-color;
  background-color: $button-bg-color;
  border-radius: 4px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $white-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}

.button-primary {
  padding: 10px 0;
  min-width: 200px;

  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.06em;
  border: none;
  text-align: center;
  line-height: 1.87;
  cursor: pointer;
  color: $white-color;
  background-color: $accent-color;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
