.social {
  display: flex;
  justify-content: center;
}

.social-link {
  display: flex;
  width: 44px;
  height: 44px;
  background-color: $white-color;
  text-decoration: none;
  border-radius: 50%;
  justify-content: center;
  align-items: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: $accent-color;
  }
}

.dark-bg {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;

  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  .social-link:hover &,
  .social-link:focus & {
    fill: $white-color;
  }
}

.light {
  fill: $white-color;
}

.list-item {
  &:not(:last-child) {
    margin-right: 10px;
  }
}
