.clients {
  padding: 60px 0;

  &-title {
    margin-bottom: 30px;

    font-weight: bold;
    font-size: 28px;
    line-height: 1.178;
    text-align: center;
    letter-spacing: 0.03em;

    color: $primary-text-color;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    justify-content: center;
  }

  &-item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  &-link {
    display: flex;
    min-height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    fill: #afb1b8;

    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
      fill: $accent-color;
      border: 1px solid $accent-color;
    }
  }
}

@media screen and (min-width: 768px) {
  .clients {
    &-item {
      width: calc((100% - 6 * 15px) / 3);
    }

    // &-link {
    //   width: 226px;
    // }
  }
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;

    &-title {
      margin-bottom: 50px;
      font-size: 36px;
      line-height: 1.167;
    }

    &-item {
      width: calc((100% - 6 * 15px) / 6);
    }

    &-list {
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
}
